
.DS_Store
.svn
.bashrc.local
.zshrc.local
.*~
*~
*.log
.ipynb_checkpoints
*.h5
    old
migrated

tags

.vim/bundle/
.vim/.netrwhist
.jupyter/nbconfig

############################################################
# Xcode
# https://github.com/github/gitignore/blob/master/Objective-C.gitignore
############################################################
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
DerivedData

############################################################
# Rails
############################################################
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/


############################################################
# Java
############################################################
*.class

# Package Files #
*.jar
*.war
*.ear
